/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
tmp/
/node_modules/
/app/
/Gemfile
/Procfile
/Rakefile
/bin/
/lib/
/spec/
/log/
.env
.babelrc
.rubocop.yml
.ruby-version
.travis.yml
*.gemspec
screenshot.png
